.navbar{
  background-color: #81BFDA;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 5px black;
}

.navbar-container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo{
  color: #F5F0CD ;
  font-size: 24px;
  font-weight: bold;
}
.menu-icon{
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  display: none;

}
.nav-links{
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  
}
.nav-links li{
  columns: #FADA7A;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.nav-links li:hover{
  color: #fff;


}
.nav-links li::after{
  content: '';
  position: absolute;

  bottom: -5px;
  left: 0;
  width: 0;
  background-color: #ffffff;
  height: 2px;
  transition: width 0.3s ease-in-out;


}
.nav-links li:hover::after{
  width: 100%;
}
.talk{
  background-color: #F29F58;
  border: 1px solid #B1F0F7;
  color: #000000;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;

}.talk:hover{
  background-color: #F5F0CD;
  color: #000000;

}
.dropdown{
  position: relative;
  

}