.navbar{
  background-color: #81BFDA;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 5px black;
}

.navbar-container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo{
  color: #F5F0CD ;
  font-size: 24px;
  font-weight: bold;
}
.menu-icon{
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  display: none;

}
.nav-links{
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  
}
.nav-links li{
  columns: #FADA7A;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.nav-links li:hover{
  color: #fff;


}
.nav-links li::after{
  content: '';
  position: absolute;

  bottom: -5px;
  left: 0;
  width: 0;
  background-color: #ffffff;
  height: 2px;
  transition: width 0.3s ease-in-out;


}
.nav-links li:hover::after{
  width: 100%;
}
.talk{
  background-color: #F29F58;
  border: 1px solid #B1F0F7;
  color: #000000;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;

}.talk:hover{
  background-color: #F5F0CD;
  color: #000000;

}
.dropdown{
  position: relative;


}
.dropdown-menu{
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0 , 0, 0.2);
  border-radius: 4px ;
  z-index: 10;
}
.dropdown-menu li{
  color: #F29F58;
  padding: 5px 10px;
  white-space: nowrap;
}
.dropdown-menu li:hover{
  background-color: #F29F58;
  color: #ffffff;
}
.dropdown-icon{
  margin-left: 5px;
  font-size: 12px;

}
@media(max-width:768px){
    .menu-icon{
      display: block;
    }

.nav-links{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #F29F58;
  width: 100%;
  padding: 20px 0;
  gap: 11px;
  box-shadow: 0 2px 5px rgba(0, 0 , 0, 0.2);
  z-index: 9999;

  }
  .nav-links.active{
    display: flex;

  }
  .talk{
    margin-top: 10px;
    width: fit-content;
    align-self: center;

  }
  
}